@media (max-width:768px){
    .customer-cover{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        /* align-items: center; */
        /* background-color: #05330F; */
        padding: 2% 0%;
    }
    
    .customer-info{ 
        background-color: #05330F;
        padding: 7%;
    }
    
    .customer-info h3{
        color: #FFF;
        font-family: Switzer;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 120% */
        letter-spacing: -0.4px;
    }
    
    .customer-info p{
        color: #CCC;
        font-family: Switzer;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        margin-bottom: 8%;
    }
    
    .customer-btn{
        border-radius: 16px;
        background: #FFF;
        color: #05330F;
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 100% */
        text-transform: uppercase;
        padding: 2% 6%;
        }
    
    
        .customer-btn:hover{
            border:  2px solid #FFF;
            background-color: transparent;
            color: #FFF;
        }
    
        .customer-info, .customer-img{
            width: 100%;
        }
    
        .customer-img img{
            width: 100%;
        }
        .menu-icon{
            display: block; 
            
        }
        
        nav{
            display: none;
        }
        
        .menu-icon.hide {
            display: none;
        }
        
        .menu-icon-clos.hide {
            display: block;
        }
        
        .nav2.visible {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--Background,white );
            position: fixed;
            height: 100vh;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 12;
        }
        
        .nav2 a {
            color: #141414;
            text-align: center;
            /* font-family: 'Clash Grotesk'; */
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
            padding: 10% 0 2% 0;
            border-bottom: 0.5px solid #525252;
            width: 20%;
        }
        
        .nav2 a:last-child {
            border: none;
        }
        
        .nav2 a:first-child {
            padding: 3% 0 2% 0;
        }

        img {
            width: 100%;
        }
        .services-hero{
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    
        .services-info {
            width: 100%;
            margin: 18% 5% 4% 5%;
            /* margin-bottom: 5%; */
        }


        .map-section{
            display: flex;
            flex-direction: column;
          overflow-x: hidden;
        }

        .map-left, .map-right{
            width: 100%;
        }
/* 
        .map-right2{
            display: block;
        }
        
        .map-right{
            display: none;
        } */

        
/* footer start here */

.footer{
    display: flex;
    flex-direction: column;
}

.footer-left, .footer-center{
    width: 100%;
}


footer{
    background: #05330F;
}

.footer-p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 4%;
    color: white;
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.form-section-info, .form{
    width: 100%;
}
}


img{
    width: 100%;
}